.Todo-container{
    background-color:white;
    width:800px;
    height:80vh;
    border-radius:20px;
    padding:45px;
    margin:20px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    flex-direction: column;
    gap:20px;
}

.text-center